@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    font-family: 'Dosis', sans-serif;
    line-height: 1.8;
}
.navbar-brand img{
    height: 50px;
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: 900 !important;
    }
    a{
        text-decoration: none;
        transition: all 0.4s ease;
        font-weight: 800;
        color: #242591;
    }
    .navar-light .navbar-nav .nav-link.active, .navar-light .navbar-nav .show> .nav-link{
        background: -webkit-linear-gradient(#00e0fe,  #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    .navbar{
        box-shadow: 0 12px 20px rgba(0,0,0,0.1);
    }
    .btn{
        padding: 14px 22px;
        transition: all 0.3s ease;
    }
    .btn:hover{
        color: #fff;
        transform: translateY(-5px);
    }
    .video-btn{
        width: 60px;
        height: 60px;
        background: linear-gradient(#00e0fe,  #1107fe);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 100px;
    }
    .video-btn i{
        font-size: 34px;
    }
    .btn-main{
        background: linear-gradient(#00e0fe,  #1107fe);
        /* border-radius: 100px; */
        border: none;
        font-weight: 800;
        color: #fff;
    }
    section{
        padding-top: 80px;
        padding-bottom: 80px;
        z-index: 2;
        position: relative;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
        z-index: -1;
    }
    .bg-cover{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .hero-section{
        min-height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .section-intro{
        margin-bottom: 40px;
    }
    .section-intro .divider{
        height: 4px;
        width: 70px;
        background: linear-gradient(#00e0fe,  #1107fe);
        margin: 16px auto;
    }
    .service .service-img{
        position: relative;
    }
    .service .service-img .icon{
        width: 90px;
        height: 90px;
        background: linear-gradient(#00e0fe,  #1107fe);
        color: #fff;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 100px;
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
    }
    .service .service-img .icon i{
        font-size: 36px;
    }
    .feature i{
        background: -webkit-linear-gradient(#00e0fe,  #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
    }
    .feature-1 i{
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 54px;
    }
    .review .person{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        padding-bottom: 24px;
    }
    .review{
        box-shadow: 0 12px 12px rgba(0,0,0,0.1);
    }
    .review .star{
        color: orange;
    }
    .review .person img{
        width: 75px;
        height: 75px;
        border-radius: 100px;
    }
    form .form-control{
        border-radius: 0;
        background: transparent;
        color: #fff;
       border-color: rgba(255, 255, 255, 0.5);
    }
    form .form-control:focus{
        color: #fff;
        background: transparent;
        border-color: #fff;
    }
    input .form-control{
        height: 54px;
    }
    form .form-control::placeholder{
        color: #fff;
    }
    footer{
        background: linear-gradient(#00e0fe,  #1107fe);
    }
    footer a{
        color: #fff;
    }
    footer p{
        color: #fff;
        font-size: 16px;
    }
    footer i{
        font-size: 24px;
        gap: 2px;
    }